$bodybgcolor-1: #f2dcc5;
$bodybgcolor-2: #cfbead;

$sectiontitle-1: #f2dcc5;
$sectiontitle-2: #cfbead;
$sectiontitle-3: #f2dcc5;
$sectiontitle-4: #cfbead;
$sectiontitle-5: #f2dcc5;
$sectiontitle-6: #cfbead;

$numbertext-1: #f2f2f2;
$button-1: #ffa07a;
$menubtn-1: #d5d5d5;
$headermenu: #545454;
$headerul: lightgrey;

$closehover: #999;

// Static Colors //

$black: black;
$white: white;





